
from ntessa.utils import get_auth_token


kube_config_dict = {
        "2104": {
            "clusters": [
                {
                    "cluster": {
                        "certificate-authority-data": "LS0tLS1CRU***"
                    }
                }
            ],
        },
        "3409": {
            "clusters": [
                {
                    "cluster": {
                        "certificate-authority-data": "LS0tLS1CRU*****",
                        "server": "https://10.10.10.10:10285"
                    }
                }
            ]
        }
    }


region_info ={  # 集群id和auth_user、project的对应关系
    '2104': {
        "auth_user": '_cmdb',
        "auth_key": '699fe0246e32****',
        "project": 'cc'
    },
    '3409': {
        "auth_user": '_cmdb',
        "auth_key": '699fe024671b1***',
        "project": 'cc'
    },
}



for k,v in region_info.items(): #补充一下token
    token = get_auth_token(v['auth_user'], v['auth_key'], ttl=365 * 5 * 24 * 60 * 60)
    if kube_config_dict.get(str(k),'') :
        kube_config_dict[k]["apiVersion"] = "v1"
        kube_config_dict[k]["kind"] = 'Config'
        kube_config_dict[k]["current-context"] = "context1"
        kube_config_dict[k]["clusters"][0]['name'] = k
        kube_config_dict[k]['contexts']= [{
                                                        "context": {
                                                            "cluster": k,
                                                            "user": "sa"
                                                        },
                                                        "name": "context1"
                                                        }]
        kube_config_dict[k]['contexts'][0]['name'] = "context1"
        kube_config_dict[k]['users'] = [{
                                                            "user": {
                                                                "token": token
                                                            },
                                                            "name": "sa"
                                                        }]


class myConfig(object):
    LOG_LEVEL = "info"
    REDIS = "redis://10.217.0.145:6379/1"
