<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Kubernetes Web Terminal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='xterm/dist/xterm.css') }}"> 
    <script src="{{ url_for('static', filename='xterm/dist/xterm.js') }}"></script>
    <script src="{{ url_for('static', filename='xterm/dist/addons/fit/fit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='xterm/dist/addons/attach/attach.js') }}"></script>

</head>
<body id="terminal">
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
